/* 改变主题色变量 */ 

// @forward 'element-plus/theme-chalk/src/common/var.scss' with (
//   $colors: (
//     'primary': (
//       'base': red,
//     ),
//   ),
// );
// @use "element-plus/theme-chalk/src/index.scss" as *;


/* 以下为全局公共样式 */
.right-button {
  position: fixed;
  right: 25px;
  bottom: 50px;
  z-index: 2;
  background-color: #67c23a;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &:hover {
    background-color: #85ce61;
  }
}

// 抽屉公共样式，需要使用custom-class="common-drawer"指定自定义类名
.common-drawer {
  .el-drawer__body {
    border-bottom: 1px solid #dedede;
    padding: 30px;
  }
  .el-drawer__footer {
    padding-top: 20px;
  }
}

// 媒体查询，做移动端适配
@media (max-width: 767px) {
  .hide-aside {
    display: none;
  }
}